.App {
  font-family: sans-serif;
  text-align: center;
}

.greeting {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

input {
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px;
  margin-left: 5px;
}

.todo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.todo-item button {
  margin-left: 10px;
}

.complete {
  text-decoration: line-through;
  color: gray;
}
